.choosen-id-list {
  padding: 20px;
  border: 1px solid #0e0e0e;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50px;
}
.choosen-id-item {
  border: 1px solid #4e4e4e;
  padding: 10px;
  border-radius: 40%;
}
